
@font-face {
  font-family: 'Slate';
  src: url('../fonts/slate.eot');
  src: url('../fonts/slate.eot?#iefix') format('embedded-opentype'),
  url('../fonts/slate.woff2') format('woff2'),
  url('../fonts/slate.woff') format('woff'),
  url('../fonts/slate.ttf') format('truetype'),
  url('../fonts/slate.svg#Slate') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../fonts/Stolzl-Regular.eot');
  src: url('../fonts/Stolzl-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Stolzl-Regular.woff2') format('woff2'),
  url('../fonts/Stolzl-Regular.woff') format('woff'),
  url('../fonts/Stolzl-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

%icon {
  font-family: Slate;
  speak: none;
  font-weight: normal;
  font-variant: normal;
  //text-transform: none;
  line-height: 1;
  font-size: 14px;
}

%icon-exclamation-sign {
  @extend %icon;
  color: red;
  content: "\e600";
}
%icon-info-sign {
  //@extend %icon;
  //content: "\e602";
  //content: "\e602";
}
%icon-ok-sign {
  @extend %icon;
  content: "\e606";
}
%icon-search {
  @extend %icon;
  content: "\e607";
}
